    @custom-media --mobileSm-viewport only screen and (min-width : 320px);
    @custom-media --mobile-viewport only screen and (min-width : 480px);
    @custom-media --tablet-viewport only screen and (min-width : 768px);
    @custom-media --tablet-max only screen and (max-width : 768px);
    @custom-media --desktop-viewport only screen and (min-width : 992px);
    @custom-media --large-desktop-viewport only screen and (min-width : 1200px);
