.header-contacts {
  padding: 20px 0;

  a{
    text-decoration: none;
  }

  @media (--tablet-viewport) {
    float: right;
    margin: 15px 0 0 0;
    padding: 0;
    height: 100%;
    width: 40px;

    a {
      lost-row: 1/3;
      margin-bottom: 10px;
      font-size: 24px;
      text-align: right;
    }
  }
}