header {
  float         : left;
  width         : 100%;
  text-align    : center;
  border-bottom : solid 10px $bobGrey;

  @media (--tablet-viewport){
    text-align: left;
  }


  h1 {
    margin-top : 10px;
    font-size  : 25px;
    text-transform: uppercase;

    @media (--tablet-viewport) {
      font-size : 40px;
    }
  }

  h2 {
    margin-top : 0;
    font-size  : 20px;
    text-transform: uppercase;

    @media (--tablet-viewport) {
      font-size : 27px;
    }
  }

  .fa {
    font-size : 30px;
  }
}
.header-title {

  @media (--tablet-viewport) {
    lost-column : 4/8;
  }

  @media (--desktop-viewport) {
    lost-column : 3/8;
    margin: 10px 0 15px 0;
  }
}
