.scroll-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 110px;

  background: #FFFFFF;
  border-bottom: solid 5px $bobGreen;
  opacity: 0;
  transition: opacity .5s;

  @media (--tablet-viewport){
    height: 80px;
    padding: 15px 0;
  }

  h2, p {
    margin: 0;
    text-align: center;

    @media (--tablet-viewport) {
      float: left;
      clear: both;
    }
  }

  .scroll-header--inner {
    lost-center: 1024px;
  }

  .fix-header & {
    z-index: 100;
    opacity: 1;
  }
}
