label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button{
  display: inline-block;
  padding: .4em .8em;
  background: #fff;
  border: solid 3px #000;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}