nav {
  padding: 20px 0 0 0;
  @media (--tablet-viewport) {
    lost-column: 4/10;
    margin: 35px 0 0 0;
    padding: 20px 0;
  }

  @media (--desktop-viewport) {
    lost-column: 4/8;
  }

  a {
    margin: 0 10px 0 0;
  }

  @media (--desktop-viewport) {
    a {
      margin: 0 25px 0 0;

      &:first-child {
        margin: 0 25px 0 100px;
      }
    }
  }

  .scroll-header & {
    @media (--tablet-viewport) {
      margin: -20px 0 0 0;
    }
  }

}