.tech{
  lost-utility: clearfix;

  img{
   width: 100%;
   cursor: pointer;
  }

  .desaturate img {
    filter: grayscale(100%);
    &:hover{
  filter: grayscale(0%);
  transition: filter .6s ease-in-out;
    }
}

  .tech-info li{
    display: none;
    list-style: none;

    &.tech-info--magento{
      display: block;
    }
  }

}
