section h2 {
  padding: 0 0 10px 0;
  border-bottom: solid 10px $bobRed;

  @media (--tablet-max) {
    font-size: 22px;
  }

  &.border-orange {
    border-bottom: solid 10px $bobOrange;
  }
  &.border-green {
    border-bottom: solid 10px $bobGreen;
  }
}