.controls {
  margin: 30px 0;

  button {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    @media (--tablet-max) {
      width: 100%;
    }
    @media (--tablet-viewport) {
      margin: 0 20px 0 0;
    }
  }
}