.featherlight-content {
  h3 {
    margin-top : 0;
  }

  img {
    width  : 100%;
    height : auto;
    margin : 20px 0 0 0;

    @media (--tablet-viewport) {
      float  : left;
      width  : 50%;
      margin : 0;
    }
  }
}
.portfolio-content,
.tech-content {
  @media (--tablet-viewport) {
    float : left;
    width : 50%;
  }

}
@media (--tablet-viewport) {
  portfolio-content p {
    padding-right : 50px;
  }
}