.portfolio {
  -webkit-backface-visibility : hidden;

  &:after {
    content : '';
    display : inline-block;
    width   : 100%;
  }

  .mix,
  .gap {
    width : 100%;
    margin: 0 0 20px 0;
    @media (--mobile-viewport) {
      width : 49%;
    }
  }

  .mix {
    position : relative;
    display  : none;
    &:before {
      content     : '';
      display     : inline-block;
      padding-top : 60%;
    }

    img {
      position : absolute;
      top      : 0;
      width    : 100%;
    }
  }
}
